<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/dashboard-layout :: main-fragment(~{:: title}, ~{:: #css}, ~{:: #main}, ~{:: #js})}">

<head>
    <title>FoodeiBlog Admin | Create Blog</title>
    <th:block id="css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    </th:block>
</head>

<body id="page-top">

        <!-- Begin Page Content -->
        <!-- /.container-fluid -->


            <section class="content" id="main">
                <div class="container-fluid">
                    <form th:action="@{/dashboard/blogs/create-blog}" th:object="${blogRequest}" method="post" enctype="multipart/form-data">
                        <div class="row py-2">
                            <div class="col-6">
                                <a th:href="@{/dashboard/my-blogs}" class="btn btn-default">
                                    <i class="fas fa-chevron-left"></i> Back
                                </a>
                                <button type="submit" class="btn btn-info px-4" id="btn-save">
                                    Save
                                </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="blog-title">Title</label>
                                                    <input type="text" class="form-control"
                                                           minlength="20"
                                                           th:field="*{title}"
                                                           id="blog-title" />

                                                </div>

                                                <div class="form-group">
                                                    <label for="blog-content">Content</label>
                                                    <textarea th:field="*{content}" id="blog-content" ></textarea>

                                                </div>

                                                <div class="form-group">
                                                    <label for="blog-description">Description</label>
                                                    <textarea th:field="*{description}" minlength="50" id="blog-description" class="form-control" rows="3" ></textarea>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="blog-status">Status </label>
                                                    <select id="blog-status" class="form-control" th:field="*{status}">
                                                        <option value="0" >
                                                            Hide
                                                        </option>
                                                        <option value="1" >
                                                            Public
                                                        </option>
                                                    </select>

                                                </div>
                                                <div class="form-group">
                                                    <label for="blog-category">Category</label>
                                                    <div class="select2-purple">
                                                        <select th:field="*{categories}"
                                                                class="select2 form-control" multiple="multiple" id="blog-category">
                                                            <option th:each="category : ${categories}"
                                                                    th:value="${category.id}"
                                                                    th:text="${category.name}">
                                                            </option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <div class="thumbnail-preview-container mb-3">
                                                        <img alt="" id="thumbnail" />
                                                    </div>
                                                    <label for="blog-logo-input" class="btn btn-warning">Choose image</label>
                                                    <input type="file"
                                                           accept="image/jpeg, image/png"
                                                           th:field="*{image}"
                                                           id="blog-logo-input" class="d-none" name="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>




    <th:block id="js">
        <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
        <!--        select 2-->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script th:inline="javascript">
            // Initialize editor
            const easyMDE = new EasyMDE({
                element: document.getElementById("blog-content"),
                spellChecker: false,
                maxHeight: "500px",
                renderingConfig: {
                    codeSyntaxHighlighting: true,
                },
            });

            const category =$("#blog-category");
            category.select2();

            var reader = new FileReader();
            reader.onload = function(r_event) {
                document.getElementById('thumbnail').setAttribute('src', r_event.target.result);
            }

            document.getElementsByName('image')[0].addEventListener('change', function(event) {
                reader.readAsDataURL(this.files[0]);
            });


        </script>
    </th:block>

</body>

</html>