<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main-fragment(title, css, content, js)">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Foodeiblog Template">
    <meta name="keywords" content="Foodeiblog, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}"></title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/style.css}" type="text/css">

    <!-- Custom css-->
    <th:block th:replace="${css} ?: ~{}"></th:block>
</head>
<body>


<div id="preloder">
    <div class="loader"></div>
</div>
    <!--    HEADER-->
    <th:block th:replace="~{fragments/web-header :: web-header}"></th:block>

    <!--    MAIN CONTENT-->
    <th:block th:replace="${content} ?: ~{}"></th:block>

    <!--    Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" th:action="@{/blogs}" method="get">
                <input type="text" id="search-input" name="keyword" class="search-form-input" th:value="${keyword}" placeholder="Search here...">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!--    FOOTER-->
    <th:block th:replace="~{fragments/web-footer :: web-footer}"></th:block>

    <!-- Js Plugins -->
    <script th:src="@{/web/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/web/js/bootstrap.min.js}"></script>
    <script th:src="@{/web/js/jquery.slicknav.js}"></script>
    <script th:src="@{/web/js/owl.carousel.min.js}"></script>
    <script th:src="@{/web/js/main.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
        });
    </script>

    <!--    Js-->
    <th:block th:replace="${js} ?: ~{}"></th:block>
</body>
</html>