<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="web-header">
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a th:href="@{/}"><img th:src="@{/web/img/humberger/humberger-logo.png}" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/blogs}">Blogs</a></li>
                <li class="dropdown"><a>Categories</a>
                    <ul class="dropdown__menu">
                        <li><a th:href="@{/category/breakfast}">Breakfast/Brunch</a></li>
                        <li><a th:href="@{/category/lunch}">Lunch</a></li>
                        <li><a th:href="@{/category/dinner}">Dinner</a></li>
                        <li><a th:href="@{/category/desserts}">Desserts</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="humberger__menu__about">
            <div class="humberger__menu__title sidebar__item__title">
                <h6>About me</h6>
            </div>
            <img th:src="@{/web/img/humberger/humberger-about.jpg}" alt="">
            <h6>Hi every one! I,m Lena Mollein.</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <div class="humberger__menu__about__social sidebar__item__follow__links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>

    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header" >
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
                        <div class="header__humberger">
                            <i class="fa fa-bars humberger__open"></i>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-10 order-md-2 order-3">
                        <nav class="header__menu">
                            <ul>
                                <li th:classappend="${#httpServletRequest.requestURI == '/'} ? 'active' : ''"><a th:href="@{/}">Home</a></li>
                                <li th:classappend="${#httpServletRequest.requestURI == '/blogs'} ? 'active' : ''"><a th:href="@{/blogs}">Blogs</a>
                                    <div class="header__megamenu__wrapper">
                                        <div class="header__megamenu">
                                            <div class="header__megamenu__item" th:each="blogHeader : ${blogsHeader}">
                                                <div class="header__megamenu__item--pic set-bg"
                                                th:styleappend="|background-image: url(${blogHeader.thumbnail})|"
                                                >
                                                    <div class="label" th:text="${blogHeader.categories.get(0).name}">Vegan</div>
                                                </div>
                                                <div class="header__megamenu__item--text">
                                                    <h5><a th:href="@{/detail/{id}/{slug} (id = ${blogHeader.id}, slug = ${blogHeader.slug})}" th:text="${#strings.substring(blogHeader.title,0,30) + '...'}">How to Make a Milkshake With Any Ice Cream ...</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li th:classappend="${#httpServletRequest.requestURI == '/category/'+ name} ? 'active' : ''" class="dropdown"><a>Categories</a>
                                    <ul class="dropdown__menu">
                                        <li th:each="category: ${categoryList}"><a th:text="${category.name}" th:href="@{/category/{name} (name = ${category.name})}"></a></li>
                                    </ul>
                                </li>
                                <li th:classappend="${#httpServletRequest.requestURI == '/about'} ? 'active' : ''"><a th:href="@{/about}">About</a></li>
                                <li th:classappend="${#httpServletRequest.requestURI == '/contact'} ? 'active' : ''"><a th:href="@{/contact}">Contact</a></li>
                                <li><div class="header__search">
                                    <i class="fa fa-search search-switch"></i>
                                </div></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">
                       <th:block sec:authorize="not isAuthenticated()">
                           <nav class="header__menu">
                               <ul>
                                   <li>
                                       <a th:href="@{/login}">Login</a>
                                   </li>
                                   <li>
                                       <a th:href="@{/register}">Register</a>
                                   </li>
                               </ul>
                           </nav>
<!--                           <button type="button" class="btn btn-primary" style="background-color: #f4952f; border-color: #f4952f" data-bs-toggle="modal" data-bs-target="#modal-login">-->
<!--                               Login-->
<!--                           </button>-->

<!--                           &lt;!&ndash; Modal &ndash;&gt;-->
<!--                           <div class="modal fade" id="modal-login" tabindex="-1" aria-labelledby="modal-login" aria-hidden="true">-->
<!--                               <div class="modal-dialog">-->
<!--                                   <form th:action="@{/login}" method="post" >-->
<!--                                       <div class="modal-content">-->
<!--                                           <div class="modal-header">-->
<!--                                               <h5 class="modal-title" id="exampleModalLabel1">Login</h5>-->
<!--                                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                           </div>-->
<!--                                           <div class="modal-body">-->
<!--                                               <div class="mb-3">-->
<!--                                                   <label for="email" class="form-label">Email</label>-->
<!--                                                   <input type="text" name="email" required class="form-control" id="email">-->
<!--                                               </div>-->
<!--                                               <div class="mb-3">-->
<!--                                                   <label for="password" class="form-label">Password</label>-->
<!--                                                   <input type="password" name="password" required class="form-control" id="password">-->
<!--                                               </div>-->
<!--                                           </div>-->
<!--                                           <div class="modal-footer">-->
<!--                                               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                                               <button type="submit" style="background-color: #f4952f; border-color: #f4952f"-->
<!--                                                       class="btn btn-primary" id="btn-login">Login</button>-->
<!--                                           </div>-->
<!--                                       </div>-->
<!--                                   </form>-->
<!--                               </div>-->
<!--                           </div>-->
                       </th:block>
                       <th:block sec:authorize="isAuthenticated()">
                           <div class="dropdown" style="margin-top: 2px">
                               <button style="background-color: #f4952f; border-color: #f4952f"
                                       class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <th:block th:text="${#authentication.getPrincipal().getName()}">name</th:block>
                               </button>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <a class="dropdown-item" th:href="@{/dashboard/user/profile}" sec:authorize="hasRole('MEMBER')">
                                       <i class="bi bi-person-circle"></i>
                                       Profile
                                   </a>
                                   <a class="dropdown-item" th:href="@{/dashboard/my-blogs}" sec:authorize="hasAnyRole('EDITOR', 'ADMIN')">
                                       <i class="bi bi-book-fill"></i>
                                       My blogs
                                   </a>
                                   <a class="dropdown-item" th:href="@{/dashboard/blogs}" sec:authorize="hasRole('ADMIN')">
                                       <i class="bi bi-list-task"></i>
                                       All blogs
                                   </a>
                                   <a class="dropdown-item" th:href="@{/dashboard/admin/users}" sec:authorize="hasRole('ADMIN')">
                                       <i class="bi bi-people-fill"></i>
                                       All users
                                   </a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                       <i class="bi bi-box-arrow-right"></i>
                                       Logout
                                   </a>
                               </div>
                           </div>
<!--                           <nav class="header__menu">-->
<!--                               <ul>-->
<!--                                   <li class="dropdown"><a><th:block th:text="${#authentication.getPrincipal().getName()}">name</th:block></a>-->
<!--                                       <ul class="dropdown__menu">-->
<!--                                           <li><a th:href="@{/dashboard/user/profile}" sec:authorize="hasRole('MEMBER')">-->
<!--                                               <i class="bi bi-person-circle"></i>-->
<!--                                               Profile-->
<!--                                           </a></li>-->
<!--                                           <li><a  th:href="@{/dashboard/my-blogs}" sec:authorize="hasAnyRole('EDITOR', 'ADMIN')">-->
<!--                                               <i class="bi bi-book-fill"></i>-->
<!--                                               My blogs-->
<!--                                           </a></li>-->
<!--                                           <li><a  th:href="@{/dashboard/blogs}" sec:authorize="hasRole('ADMIN')">-->
<!--                                               <i class="bi bi-list-task"></i>-->
<!--                                               All blogs-->
<!--                                           </a></li>-->
<!--                                           <li><a  th:href="@{/dashboard/admin/users}" sec:authorize="hasRole('ADMIN')">-->
<!--                                               <i class="bi bi-people-fill"></i>-->
<!--                                               All users-->
<!--                                           </a></li>-->
<!--                                           <li><a  href="#" data-toggle="modal" data-target="#logoutModal">-->
<!--                                               <i class="bi bi-box-arrow-right"></i>-->
<!--                                               Logout-->
<!--                                           </a></li>-->
<!--                                       </ul>-->
<!--                                   </li>-->
<!--                               </ul>-->
<!--                           </nav>-->
                       </th:block>
                    </div>
                </div>
            </div>
        </div>

<!--        Log out modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__logo">
                        <a th:href="@{/}" ><img th:src="@{/web/img/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
</div>

</body>
</html>